div.book-main.col-md-8
    div.book-header
        div.book-header-item.thumb
            img(src="{{book.thumb}}")

        div.book-header-item.title
            h2 {{book.title}}
            h3 {{book.author.name}}

    div.book-description
        p {{book.description}}

div.col-md-4
    h3 More from this author
    ul
        li(ng-repeat="authorBook in authorBooks")
            div.card-small
                div.card-small-thumb
                    img(src="{{authorBook.thumb}}")
                div.card-small-content
                    h5 
                        b {{authorBook.title}}
                    p {{authorBook.description | limitTo: 75}}