div
    container
        h3 Shelves
        div.shelf-menu.col-md-2
            ul
                .nav.nav-pills.nav-stacked
                    li(ng-repeat="shelf in shelves", role="presentation", ng-click="selectShelf(shelf)")
                        div
                            a(href="#"){{shelf.name}} ({{shelf.bookCount}})  
        div.col-md-10 
            ul
                li(ng-repeat="book in shelves.selectedShelf.books track by $index")
                    div.card-overlay
                        a.card(href="#", style='background-image: url({{book.thumb}});background-repeat: no-repeat;background-size: 100% auto;')