div
    container

        div.alert.alert-danger(ng-show=("error"))
            span(class="glyphicon glyphicon-exclamation-sign")        
            span(class="sr-only") 
            span {{error}}

        div.shelf-menu.col-md-2
            h3 Shelves 
            ul.nav.nav-pills.nav-stacked
                li(ng-repeat="shelf in shelves", ng-class="{active: shelf.id === selectedShelfId}")
                    a(href="#", ng-click="selectShelf(shelf.id)"){{shelf.name}} ({{shelf.bookCount}})  
                
        div.col-md-10 
            h3 
            div(ng-show="getCurrentShelf().bookCount === 0")
                p You have no books here
            ul
                li(ng-repeat="book in getCurrentShelf().books track by $index")
                    div.card-overlay
                        a.card(ng-click="navigateToBook(book)", style='background-image: url({{book.thumb}});background-repeat: no-repeat;background-size: 100% auto;')
        button.btn(ng-show=("getCurrentShelf().books.length < getCurrentShelf().bookCount"))
            a(href="#", ng-click="loadBooksForShelf()") Load more books  
