extends layout

block body
  #wrap
    div(ng-controller='AppController')
        .navbar.navbar-default.navbar-fixed-top(role="navigation")
            .container
                .navbar-header
                    a.navbar-brand(href="#") bookman
            
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#") {{userName}} 

        .container      
                br
                br
                br
                br
                div(ng-view)
        
    #push
        
  #footer
    .container
        br
        div.muted.credit 
            | Copyright @olivif 2016 - bookman 
            span(app-version)

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/lib/angular/angular-ui-router.js')
  
    // App
  script(src='js/app.js')
  
    // Constants
  script(src='js/constants.js')
  
    // Services
  script(src='js/services/bookService.js')
  script(src='js/services/userService.js')
  script(src='js/services/versionService.js')

    // Controllers  
  script(src='js/controllers/appController.js')
  script(src='js/controllers/bookController.js')
  script(src='js/controllers/homeController.js')
  script(src='js/controllers/loginController.js')
  
    // Filters  
  script(src='js/filters/filters.js')
  
    // Directives
  script(src='js/directives/directives.js')
  
    // Libs
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')