/*App styles*/

/*Default overrides*/
html,body {
  height: 100%;
}

ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/*Footer*/
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
}

#footer {
  background-color: #f5f5f5;
}

/*Menu*/
.shelf-menu {
    padding: 0 !important;
}

/*Cards*/
.card-overlay {
    background-color: #eeeeee;
    display: block;
    width: 150px;
    height: 200px;
    float: left;
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.card {
    display: block;
    width: inherit;
    height: inherit;
    float: left;
}

.card-overlay:hover {
    background-color: #eeeeee;
}

.card:hover {
    opacity: 0.8;
}

/*Book page*/
.book-header {
    display: block;
    margin-bottom: 20px;
    float: left;
}

.book-header-item {
    display: block;
    float: left;
}

.book-description {
    display: block;
    float: left;
}

.book-header-item.thumb {
    margin-right: 20px;
}